.Image-Search{
    position:absolute;
    right:15px;
    top:8px;
    min-width:50px;
    font-style:arial;
    text-decoration:none;
}
.img-container{
    width:275px;
    height:100px;
    padding-top: 109px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.search-icon{
    position:absolute;
    top:8px;
    padding-left: 8px;
    padding-top:3px;
    width:14px;
}
.wrapper{
    text-align:center;
    position:relative;
    min-width:100px;
}
.search:hover, .search:focus {
    border:1.5px solid #009688;
    background-color: white;
}
.clear-icon{
    top:8px;
    right:8px;
    width:10px;
    cursor:pointer;
}
.search{
    border:1px rgb(187, 187, 187);
    border-radius:30px;
    height:25px;
    width:200px;
    padding:5px 100px 5px 30px;
    outline:0;
    background-color:#f5f5f5;

}
.googlebutton{
    background-color:white;
    color:black;
    padding:10px 30px 10px 30px;
    border: 2px solid #e7e7e7;
    border-radius:10px;
}